* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg--90: #514e4e;
  --bg--60: #7c7979;
  --bg--60-5: #d1d0d0;
  --bg--30: #eff5ee;
  --bg--30-5: #e2cdb4;
  --bg--10: #05aed5;
  --bg-10-5: #30cbed;
  --bg-after: #edb67d;
  --bg-hover: #fddaa4;
  --bg-body: #7d7676;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #7d7676;
}

.pages {
  width: 100%;
  height: 100vh;
}

#home-page {
  background-image: url("images/finale-bg.png");
  background-position: center;
  background-size: cover;
}

.navbar-nav li {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  height: 10%;
}

.navbar-nav li .nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--bg--30);
  position: relative;
}

.navbar-nav li .nav-link::after {
  content: "";
  height: 5px;
  width: 0;
  background: var(--bg-after);
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.4s;
}

.navbar-nav li .nav-link:hover::after {
  width: 100%;
}

.navbar-nav li .nav-link:hover {
  color: var(--bg-hover);
}

.navbar-nav li .nav-link:focus {
  color: var(--bg-hover);
}

#active-nav {
  color: var(--bg-after);
}

.navbar-brand {
  font-size: 1.5rem;
  padding: 5px 10px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #fff;
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: var(--bg-hover);
}

#home-content {
  width: 100%;
  height: 90%;
}

.h1-name {
  color: #fff;
}

#name-animation {
  color: tomato;
  font-weight: 800;
  animation: fadeIn 0.8s infinite alternate;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.webd {
  color: #fff;
  font-weight: 900;
  letter-spacing: 8px;
}

#home-contact-btn {
  color: #fff;
  width: 150px;
  background: tomato;
  font-weight: 500;
  margin-top: 20px;
}

#home-contact-btn:hover {
  background: var(--bg--30-5);
  color: #262626;
}

#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--bg-after);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  display: none; /* Initially hide the icon */
  transition: 0.5s;
  z-index: 4;
}

#scrollToTop:hover {
  box-shadow: 0 0 20px tomato;
  border: 1px solid #fff;
}

/* --About Page-- */
#about-page {
  position: relative;
  background: #262626;
}
.about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#about-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-title {
  font-weight: 600;
  font-size: 3rem;
  color: var(--bg-after);
}

.about-image-div img {
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  box-shadow: 5px 5px 10px var(--bg--90);
}

.about-text {
  padding: 20px;
  color: #fff;
}

.about-p {
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: justify;
  text-indent: 40px;
  line-height: 30px;
}

.about-p #certificate-btn {
  text-decoration: underline #fff;
  color: #68f6ff;
  cursor: pointer;
}

.p-Bnt {
  border: none;
  color: tomato;
  background: none;
  font-size: 0.9rem;
  text-decoration: underline;
}

.see-more {
  display: none;
  margin-top: 20px;
}

.cert-container {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000c3;
  z-index: 6;
}
.sub-certificate-cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#close {
  font-size: 60px;
  color: rgb(247, 125, 125);
  transition: 0.3s;
  position: absolute;
  right: 15%;
  top: 10%;
}
#close:hover {
  color: red;
  text-shadow: 1px 1px 20px #6edee7;
}

.sub-certificate-cont img {
  width: 60%;
}

.tab-titles {
  display: flex;
  margin: 20px 0 20px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--bg-after);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links:hover::after {
  width: 100%;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  font-size: 1rem;
  margin: 10px 0;
  margin-left: -30px;
}
.tab-contents ul li span {
  color: var(--bg-hover);
  font-size: 1.1rem;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* --Services-- */

#services-page {
  width: 100%;
  height: 100vh;
  background: #262626;
}

.service {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-title {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-description {
  color: #666;
}

.carousel-item img {
  max-height: 300px; /* Adjust the maximum height of the images */
  width: auto; /* Maintain aspect ratio */
  margin: 0 auto; /* Center the images horizontally */
}

#carousel-container {
  margin-top: 50px;
}

/* --portfolio-- */
#portfolio-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262626;
}

.project-container {
  width: 100%;
  height: 100%;
  /* display: none; */
}

.col-portfolio {
  margin-bottom: 20px;
}

.card-portfolio {
  box-shadow: 10px 10px 10px #000;
}

.card-portfolio:hover {
  box-shadow: 5px 5px 10px var(--bg-after);
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--bg--90);
  color: #fff;
}
.card-body a {
  font-size: 0.8rem;
}
.card-title {
  font-size: 1rem;
}

.btn-view {
  background: tomato;
  color: #fff;
}
.btn-view:hover {
  background: var(--bg-after);
  color: #000;
  cursor: pointer;
}

/* --contact-- */
#contact-page {
  height: 100vh;
  width: 100%;
  background: #262626;
  color: #fff;
}

/* --------contact--------- */
#contact-page {
  height: 90vh;
}
#contact-page .container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: var(--bg-hover);
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: var(--bg-after);
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: tomato;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}

.btn.btn2:hover {
  background: var(--bg-hover);
  color: #000;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #eeee;
  padding: 15px;
  margin: 15px 0;
  color: #000;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  text-align: center;
  padding: 30px 0;
  font-weight: 300;
  color: #fff;
}

/* --small screens-- */
@media screen and (max-width: 1200px) {
  .head-title {
    font-size: 2.2rem;
  }

  .about-p {
    font-size: 1rem;
    line-height: 25px;
  }
  .tab-titles p {
    font-size: 0.9rem;
  }
  .tab-contents ul {
    margin-top: -20px;
  }
  .tab-contents ul li span {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 991px) {
  .navbar-nav {
    height: 400px;
    background: rgba(125, 118, 118, 0.8);
    position: absolute;
    top: 80px;
    left: -12px;
  }

  .navbar-nav li {
    width: 100vw;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-nav li:hover {
    background: #9e9696;
  }
}

@media screen and (max-width: 768px) {
  .home-contact-btn {
    margin-top: -35px;
    margin-left: 10px;
  }

  #home-page {
    height: 100vh;
    background-image: url("images/finale-small.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .h1-name {
    font-size: 1.5rem;
  }
  .webd {
    color: #fff;
    font-weight: 900;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  #home-contact-btn {
    width: 110px;
    font-size: 0.8rem;
    font-weight: 300;
  }

  .head-title {
    font-size: 2.2rem;
  }
  #about-page {
    height: 100vh;
  }

  .about {
    margin: 50px 0 500px 0;
  }

  #about-row {
    height: 100vh;
  }

  .about-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
  }
  .about-image {
    max-height: 100%;
    max-width: 100%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .about-text {
    width: 100%;
  }

  .about-p {
    font-size: 1rem;
    line-height: 25px;
  }
  .tab-titles p {
    font-size: 0.9rem;
  }

  .tab-contents ul li {
    margin-left: -25px;
  }

  .tab-contents ul li,
  .tab-contents ul li span {
    font-size: 0.9rem;
  }

  #services-page {
    padding-top: 200px;
  }

  #carousel-container {
    margin-top: 50px;
  }

  #portfolio-page {
    padding-top: 300px;
  }

  .contact-left {
    flex-basis: 50%;
  }

  .contact-right {
    flex-basis: 50%;
  }

  .contact-left p {
    font-size: 12px;
  }

  .contact-left p i {
    color: var(--bg-hover);
    font-size: 15px;
  }

  .social-icons {
    margin-top: 20px;
  }

  .social-icons a {
    font-size: 25px;
    margin-right: 5px;
  }

  form input,
  form textarea {
    width: 100%;
    padding: 2px 0;
    font-size: 15px;
  }

  form .btn2 {
    padding: 10px 60px;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
  }
}

@media screen and (max-width: 576px) {
  .home-contact-btn {
    margin-top: -35px;
    margin-left: 10px;
  }

  #portfolio-page {
    padding-top: 750px;
  }

  #contact-page {
    padding-top: 410px;
    height: 130vh;
  }
}

@media screen and (max-width: 445px) {
  .home-contact-btn {
    margin-top: -35px;
    margin-left: 10px;
  }

  .about-p {
    font-size: 12px;
    line-height: 20px;
  }
  #services-page {
    margin-top: -80px;
  }

  #portfolio-page {
    padding-top: 650px;
  }

  #contact-page {
    padding-top: 300px;
    height: 110vh;
  }
}
